body {
  margin: 0px;
}
button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: 0;
}
button:focus,
button:hover {
  border: 0px;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("public/cool-background.png");
}
#root-container {
  width: 75%;
  height: 100%;
}
#header-container {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
#header-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.header-font {
  font-weight: 700;
  color: #fff;
}
#header-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
#header-title {
  font-size: 42px;
  text-align: center;
}
#header-menu-container {
  display: flex;
  height: 30%;
}
#header-menu-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
}
.header-menu-title {
  text-align: center;
  padding: 8px;
}

#body-container {
  height: 80%;
  background-color: #000;
}

#modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#modal-background {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
#modal-wrapper {
  width: 75%;
  height: 75%;
  z-index: 100;
  color: #fff;
  background-color: #000;
}
#modal-close-button {
  width: 25px;
  height: 25px;
  background-color: #fff;
}
#modal-close-button-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-input-wrapper {
  display: flex;
  width: 100%;
  padding: 16px 0px;
}
.modal-input-label {
  display: inline-block;
  flex: 1;
  font-size: 18px;
  font-weight: 700;
}
.modal-input {
  flex: 4;
}
.modal-add-button-wrapper {
  z-index: 200;
  display: flex;
  width: 100%;
  justify-content: center;
}
.modal-add-button {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}
